body {
  background-color: #f9f9f9;
}

.backgroundLP {
  background-image: url("../assets/Background.png");
  background-size: cover;
  height: 100vh;
}

.container-modal {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 6vh;
}

.container-modal2 {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 6vh;
  height: 75vh;
}

.upload-modal {
  max-width: 1000px;
  width: 100%;
  padding: 40px 64px;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  background-color: rgb(255, 255, 255);
}

.btn-primary {
  background-color: #007bff;
  padding: 10px 20px;
  border: none;
}

.result-card {
  padding: 20px;
  border-radius: 10px;
  position: relative;
}

.confidence-very-high {
  background-color: #d4edda;
  color: #155724;
}

.confidence-high {
  background-color: #fff3cd;
  color: #856404;
}

.confidence-moderate {
  background-color: #cce5ff;
  color: #004085;
}

.confidence-low {
  background-color: #f8d7da;
  color: #721c24;
}

.confidence-very-low {
  background-color: #f5c6cb;
  color: #721c24;
}

.image-container {
  text-align: right;
  margin-bottom: 50px;
}

.btn-secondary {
  background-color: #6c757d;
  border: none;
  padding: 10px 20px;
}

.btn-secondary:hover {
  background-color: #5a6268;
}

.back-button {
  margin-top: 20px;
}

.profile-img {
  width: 100px;
  height: 100px;
  object-fit: cover;
  border-radius: 50%;
}
